* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Share Tech Mono", monospace;
  color: #fff;
  background-color: #477a1e; }

html,
body {
  height: 100%; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 20px; }

.footer {
  height: 15%;
  background-color: #555555;
  color: white; }
  .footer .contributors {
    font-size: 20px;
    background-color: #555555;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40%;
    margin: auto; }
    .footer .contributors h5 {
      margin-top: 20px;
      background-color: #555555; }
  .footer .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40%;
    margin: auto;
    background-color: #555555; }
  .footer img {
    background-color: #555555; }
  .footer .logo {
    position: absolute;
    margin-top: 10px;
    margin-left: 27.5%;
    background-color: #555555; }

nav {
  position: fixed;
  left: 0px;
  z-index: 99;
  height: 100px;
  width: 100%;
  background-color: #555555;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  nav img {
    background-color: #555555; }
  nav .logo {
    width: 100%;
    height: 90px;
    margin-top: 10px;
    margin-left: 38px;
    background-color: #555555; }
  nav .nav-name {
    font-family: "Share Tech Mono", monospace;
    font-size: 25px;
    font-style: italic;
    font-weight: 700;
    color: #fff;
    margin-right: 50%;
    margin-top: .7%;
    background-color: #555555; }
  nav .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 100px;
    margin-right: 50%;
    background-color: #555555; }
    nav .links a {
      text-decoration: none;
      color: #fff;
      font-family: "Share Tech Mono", monospace;
      font-size: 15px;
      background-color: #555555; }
    nav .links span {
      margin: 0 10px;
      background-color: #555555; }

.howTo {
  min-height: 100%;
  width: 100%;
  background-color: #477a1e; }
  .howTo p {
    font-size: 18px; }
  .howTo .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .howTo .opener {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40%;
    margin: auto; }
  .howTo .getStarted {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40%;
    margin: auto; }
  .howTo .starting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40%;
    margin: auto; }
  .howTo .edition {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40%;
    margin: auto; }
  .howTo .difference {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40%;
    margin: auto; }
  .howTo .download {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40%;
    margin: auto; }
  .howTo .downloading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40%;
    margin: auto; }
  .howTo .playing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40%;
    margin: auto; }
  .howTo .play {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40%;
    margin: auto; }

.photos {
  margin-top: 20%; }

.gallery {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #477a1e; }
  .gallery .group {
    height: 500px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .gallery .group .one {
      height: 300px;
      width: 300px;
      background-image: url("../img/gallery1.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
    .gallery .group .two {
      height: 300px;
      width: 300px;
      background-image: url("../img/gallery2.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
    .gallery .group .three {
      height: 300px;
      width: 300px;
      background-image: url("../img/gallery3.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
    .gallery .group .four {
      height: 300px;
      width: 300px;
      background-image: url("../img/gallery4.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
    .gallery .group .five {
      height: 300px;
      width: 300px;
      background-image: url("../img/gallery5.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
    .gallery .group .six {
      height: 300px;
      width: 300px;
      background-image: url("../img/gallery6.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
    .gallery .group .seven {
      height: 300px;
      width: 300px;
      background-image: url("../img/gallery7.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
    .gallery .group .eight {
      height: 300px;
      width: 300px;
      background-image: url("../img/gallery8.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
    .gallery .group .nine {
      height: 300px;
      width: 300px;
      background-image: url("../img/gallery9.webp");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
    .gallery .group .ten {
      height: 300px;
      width: 300px;
      background-image: url("../img/gallery10.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
    .gallery .group .eleven {
      height: 300px;
      width: 300px;
      background-image: url("../img/gallery11.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
    .gallery .group .twelve {
      height: 300px;
      width: 300px;
      background-image: url("../img/gallery12.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
    .gallery .group .thirteen {
      height: 300px;
      width: 300px;
      background-image: url("../img/gallery13.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
    .gallery .group .fourteen {
      height: 300px;
      width: 300px;
      background-image: url("../img/gallery14.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
    .gallery .group .fifteen {
      height: 300px;
      width: 300px;
      background-image: url("../img/gallery15.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
    .gallery .group .sixteen {
      height: 300px;
      width: 300px;
      background-image: url("../img/gallery16.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }

.start {
  min-height: 100%;
  width: 100%;
  background-color: #477a1e; }
  .start p {
    font-size: 18px; }
  .start .intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40%;
    margin: auto; }
  .start .introH {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40%;
    margin: auto; }
  .start .introP {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40%;
    margin: auto; }
  .start .detailsHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40%;
    margin: auto; }
  .start .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40%;
    margin: auto; }
  .start .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40%;
    margin: auto; }
  .start .steve {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40%;
    margin: auto;
    margin-top: 50px; }
  .start .header {
    background-image: url("../img/minecraft-hero.png");
    background-repeat: no-repeat;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin: auto;
    height: 500px;
    background-color: #555555; }

.varieties {
  min-height: 320px;
  width: 100%;
  background-color: #477a1e;
  padding-bottom: 55%; }
  .varieties .container {
    height: 124px;
    width: 500px;
    text-align: center;
    margin: 0px 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .varieties .container img {
      max-width: 75%;
      height: auto; }
  .varieties .image-structure {
    height: 100px;
    width: 100px;
    display: inline-block;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 25%; }
    .varieties .image-structure .eq1, .varieties .image-structure .eq2, .varieties .image-structure .eq3, .varieties .image-structure .eq4, .varieties .image-structure .eq5, .varieties .image-structure .eq6, .varieties .image-structure .eq7, .varieties .image-structure .eq8, .varieties .image-structure .eq9, .varieties .image-structure .eq10, .varieties .image-structure .eq11, .varieties .image-structure .eq12, .varieties .image-structure .eq13, .varieties .image-structure .eq14, .varieties .image-structure .eq15, .varieties .image-structure .eq16 {
      height: 100%;
      width: 100px;
      margin: 0 auto;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    .varieties .image-structure .mob1, .varieties .image-structure .mob2, .varieties .image-structure .mob3, .varieties .image-structure .mob4, .varieties .image-structure .mob5, .varieties .image-structure .mob6, .varieties .image-structure .mob7, .varieties .image-structure .mob8, .varieties .image-structure .mob9, .varieties .image-structure .mob10, .varieties .image-structure .mob11, .varieties .image-structure .mob12, .varieties .image-structure .mob13, .varieties .image-structure .mob14, .varieties .image-structure .mob15, .varieties .image-structure .mob16 {
      height: 100%;
      width: 100px;
      margin: 0 auto;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
    .varieties .image-structure .bio1, .varieties .image-structure .bio2, .varieties .image-structure .bio3, .varieties .image-structure .bio4, .varieties .image-structure .bio5, .varieties .image-structure .bio6, .varieties .image-structure .bio7, .varieties .image-structure .bio8 {
      height: 100%;
      width: 100px;
      margin: 0 auto;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
  .varieties .eq1 {
    background-image: url("../../img/equipment/eq1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .varieties .eq2 {
    background-image: url("../../img/equipment/eq2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .varieties .eq3 {
    background-image: url("../../img/equipment/eq3.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .varieties .eq4 {
    background-image: url("../../img/equipment/eq4.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .varieties .eq5 {
    background-image: url("../../img/equipment/eq5.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .varieties .eq6 {
    background-image: url("../../img/equipment/eq6.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .varieties .eq7 {
    background-image: url("../../img/equipment/eq7.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .varieties .eq8 {
    background-image: url("../../img/equipment/eq8.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .varieties .eq9 {
    background-image: url("../../img/equipment/eq9.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .varieties .eq10 {
    background-image: url("../../img/equipment/eq10.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .varieties .eq11 {
    background-image: url("../../img/equipment/eq11.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .varieties .eq12 {
    background-image: url("../../img/equipment/eq12.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .varieties .eq13 {
    background-image: url("../../img/equipment/eq13.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .varieties .eq14 {
    background-image: url("../../img/equipment/eq14.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .varieties .eq15 {
    background-image: url("../../img/equipment/eq15.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .varieties .eq16 {
    background-image: url("../../img/equipment/eq16.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .varieties .mob1 {
    background-image: url("../../img/mobs/mob1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .varieties .mob2 {
    background-image: url("../../img/mobs/mob2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .varieties .mob3 {
    background-image: url("../../img/mobs/mob3.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .varieties .mob4 {
    background-image: url("../../img/mobs/mob4.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .varieties .mob5 {
    background-image: url("../../img/mobs/mob5.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .varieties .mob6 {
    background-image: url("../../img/mobs/mob6.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .varieties .mob7 {
    background-image: url("../../img/mobs/mob7.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .varieties .mob8 {
    background-image: url("../../img/mobs/mob8.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .varieties .mob9 {
    background-image: url("../../img/mobs/mob9.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .varieties .mob10 {
    background-image: url("../../img/mobs/mob10.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .varieties .mob11 {
    background-image: url("../../img/mobs/mob11.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .varieties .mob12 {
    background-image: url("../../img/mobs/mob12.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .varieties .mob13 {
    background-image: url("../../img/mobs/mob13.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .varieties .mob14 {
    background-image: url("../../img/mobs/mob14.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .varieties .mob15 {
    background-image: url("../../img/mobs/mob15.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .varieties .mob16 {
    background-image: url("../../img/mobs/mob16.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .varieties .bio1 {
    background-image: url("../../img/biomes/bio1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .varieties .bio2 {
    background-image: url("../../img/biomes/bio2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .varieties .bio3 {
    background-image: url("../../img/biomes/bio3.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .varieties .bio4 {
    background-image: url("../../img/biomes/bio4.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .varieties .bio5 {
    background-image: url("../../img/biomes/bio5.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .varieties .bio6 {
    background-image: url("../../img/biomes/bio6.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .varieties .bio7 {
    background-image: url("../../img/biomes/bio7.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }
  .varieties .bio8 {
    background-image: url("../../img/biomes/bio8.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; }

#eq1-text, #eq2-text, #eq3-text, #eq4-text, #eq5-text, #eq6-text, #eq7-text, #eq8-text, #eq9-text, #eq10-text, #eq11-text, #eq12-text, #eq13-text, #eq14-text, #eq15-text, #eq16-text {
  display: none; }

#mob1-text, #mob2-text, #mob3-text, #mob4-text, #mob5-text, #mob6-text, #mob7-text, #mob8-text, #mob9-text, #mob10-text, #mob11-text, #mob12-text, #mob13-text, #mob14-text, #mob15-text, #mob16-text {
  display: none; }

#bio1-text, #bio2-text, #bio3-text, #bio4-text, #bio5-text, #bio6-text, #bio7-text, #bio8-text {
  display: none; }

.equip {
  text-align: center; }

.equip-desc {
  text-align: center; }
  .equip-desc a {
    text-decoration: none; }
