* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  height: 100%; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 20px; }

.footer {
  height: 15%;
  background-color: #555555;
  color: white; }
  .footer .contributors {
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40%;
    margin: auto; }
    .footer .contributors h5 {
      margin-top: 20px; }
  .footer .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40%;
    margin: auto; }
  .footer .logo {
    position: absolute;
    margin-top: 20px;
    margin-left: 35%; }

.howTo {
  min-height: 100%;
  width: 100%;
  background-color: #477a1e; }
  .howTo p {
    font-size: 18px; }
  .howTo .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .howTo .opener {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40%;
    margin: auto; }
  .howTo .getStarted {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40%;
    margin: auto; }
  .howTo .starting {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40%;
    margin: auto; }
  .howTo .edition {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40%;
    margin: auto; }
  .howTo .difference {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40%;
    margin: auto; }
  .howTo .download {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40%;
    margin: auto; }
  .howTo .downloading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40%;
    margin: auto; }
  .howTo .playing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40%;
    margin: auto; }
  .howTo .play {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40%;
    margin: auto; }

.gallery {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #477a1e; }
  .gallery .group {
    height: 500px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .gallery .group .one {
      height: 300px;
      width: 300px;
      background-image: url("../img/gallery1.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
    .gallery .group .two {
      height: 300px;
      width: 300px;
      background-image: url("../img/gallery2.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
    .gallery .group .three {
      height: 300px;
      width: 300px;
      background-image: url("../img/gallery3.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
    .gallery .group .four {
      height: 300px;
      width: 300px;
      background-image: url("../img/gallery4.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
    .gallery .group .five {
      height: 300px;
      width: 300px;
      background-image: url("../img/gallery5.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
    .gallery .group .six {
      height: 300px;
      width: 300px;
      background-image: url("../img/gallery6.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
    .gallery .group .seven {
      height: 300px;
      width: 300px;
      background-image: url("../img/gallery7.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
    .gallery .group .eight {
      height: 300px;
      width: 300px;
      background-image: url("../img/gallery8.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
    .gallery .group .nine {
      height: 300px;
      width: 300px;
      background-image: url("../img/gallery9.webp");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
    .gallery .group .ten {
      height: 300px;
      width: 300px;
      background-image: url("../img/gallery10.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
    .gallery .group .eleven {
      height: 300px;
      width: 300px;
      background-image: url("../img/gallery11.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
    .gallery .group .twelve {
      height: 300px;
      width: 300px;
      background-image: url("../img/gallery12.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
    .gallery .group .thirteen {
      height: 300px;
      width: 300px;
      background-image: url("../img/gallery13.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
    .gallery .group .fourteen {
      height: 300px;
      width: 300px;
      background-image: url("../img/gallery14.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
    .gallery .group .fifteen {
      height: 300px;
      width: 300px;
      background-image: url("../img/gallery15.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
    .gallery .group .sixteen {
      height: 300px;
      width: 300px;
      background-image: url("../img/gallery16.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }

.start {
  min-height: 100%;
  width: 100%;
  background-color: #477a1e; }
  .start p {
    font-size: 18px; }
  .start .intro {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40%;
    margin: auto; }
  .start .introH {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40%;
    margin: auto; }
  .start .introP {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40%;
    margin: auto; }
  .start .detailsHeader {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40%;
    margin: auto; }
  .start .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40%;
    margin: auto; }
  .start .list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40%;
    margin: auto; }
  .start .steve {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 40%;
    margin: auto;
    margin-top: 50px; }
  .start .header {
    background-image: url("../img/minecraft-hero.png");
    background-repeat: no-repeat;
    background-position: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin: auto;
    height: 500px;
    background-color: #555555; }
