//this scss file is for styling the how-to section (what to do when you first get into your world)
.howTo {
  min-height: 100%;
  width: 100%;
  background-color: $site-green;

  p {
    font-size: 18px;
  }
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .opener {
    @include centerContent($marginLeft);
  }

  .getStarted {
    @include centerContent($marginLeft);
  }
  .starting {
    @include centerContent($marginLeft);
  }
  .edition {
    @include centerContent($marginLeft);
  }
  .difference {
    @include centerContent($marginLeft);
  }
  .download {
    @include centerContent($marginLeft);
  }
  .downloading {
    @include centerContent($marginLeft);
  }
  .playing {
    @include centerContent($marginLeft);
  }
  .play {
    @include centerContent($marginLeft);
  }
}
