.footer {
  height: 15%;
  background-color: $site-grey;
  color: white;
  .contributors {
    font-size: 20px;
    @include centerContent(40%);
    h5 {
      margin-top: 20px;
    }
  }
  .copyright {
    @include centerContent(40%);
  }
  .logo {
    //display: flex;
    //justify-content: center;
    //align-items: center;
    position: absolute;
    margin-top: 20px;
    margin-left: 35%;
  }
}
