.footer {
  height: 15%;
  background-color: $site-grey;
  color: white;
  .contributors {
    font-size: 20px;
    background-color: $site-grey;
    @include centerContent(40%);
    h5 {
      margin-top: 20px;
      background-color: $site-grey;
    }
  }
  .copyright {
    @include centerContent(40%);
    background-color: $site-grey;
  }

  img {
    background-color: $site-grey;
  }

  .logo {
    position: absolute;
    margin-top: 10px;
    margin-left: 27.5%;
    background-color: $site-grey;
  }
}
