nav {
    position: fixed;
    left: 0px;
    z-index: 99;
    height: 100px;
    width: 100%;
    background-color: $site-grey;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    img {
        background-color: $site-grey;
    }

    .logo {
        width: 100%;
        height: 90px;
        margin-top: 10px;
        margin-left: 38px;
        background-color: $site-grey;
    }

    .nav-name {
        font-family: $nav-fonts;
        font-size: 25px;
        font-style: italic;
        font-weight: 700;
        color: $site-white;
        margin-right: 50%;
        margin-top: .7%;
        background-color: $site-grey;
    }


    .links {
        a {
            text-decoration: none;
            color: $site-white;
            font-family: $nav-fonts;
            font-size: 15px;
            background-color: $site-grey;
        }
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        height: 100px;
        margin-right: 50%;
        background-color: $site-grey;
        
        span {
            margin: 0 10px;
            background-color: $site-grey;
        }
 
    }


 



}